.eunit
.erlang.mk
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam

# rebar 3
.rebar3
_build/
_checkouts/

#---
_rel/
.erlang.mk/
deps/
config/
*.mk
MakeFile
relx.config
*.d
ebin/*.beam